body
{

}
h3{
 color: blue;
}
.course
{
  display: none;
}
.lt
{
  color: blue;
  font-style: italic;
  font-weight: bold;
}
.pt
{
  font-style: normal;
  font-weight: normal;
  color: green;
  background-color: pink;
}

