body
{
  font-family: 'Work Sans';
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
h3{
 color: blue;
}
input{
 font-size: 16px;
 line-height: 1;
 width: 270px;
 height: 34px;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}
.course
{
  display: none;
  cursor: default;
}
.lt
{
  font-weight: bold;
}
.pt
{
  font-style: normal;
  font-weight: normal;
  background-color: pink;
  cursor: pointer;
  padding: 5px 5px;
  border: 2px inset gray;
}
.styled-select select 
{
   background: transparent;
   width: 298px;
   padding: 5px;
   font-size: 16px;
   line-height: 1.2;
   border: 0;
   border-radius: 0;
   height: 34px;
   outline: none;
   -webkit-appearance: none;
}
.styled-select {
   width: 270px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
   }
.green {
  background-color: green;
}


