body
{

}
h3{
 color: blue;
}
.course
{
  display: none;
}
.lt
{
  color: blue;
  font-style: italic;
  font-weight: bold;
}
.pt
{
  font-style: normal;
  font-weight: normal;
  background-color: pink;
  cursor: pointer;
}
.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }
.styled-select select 
{
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}


