body {
  background-color: 3a3a3a;
  color: white;
  font-size: 20px;
}

/* unvisited link */
a:link {
  color: red;
  text-decoration: underline; 
}

/* visited link */
a:visited {
  color: green;
  text-decoration: underline; 
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: underline; 
}


iframe {
 display: block;
 margin-left: auto;
 margin-right: auto;
 scrolling: no;
 overflow: hidden;
 border: none;
}

p {
 width: 800px;
 margin-left: auto;
 margin-right: auto;
}
