body {
  background-color: 3a3a3a;
  color: white;
  font-size: 24px;
}

iframe {
 display: block;
 margin-left: auto;
 margin-right: auto;
 scrolling: no;
 overflow: hidden;
}

p {
 width: 800px;
 margin-left: auto;
 margin-right: auto;
}
